* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #ffffff;
    display: grid;
    place-content: center;
    transition: 0.3s ease-in-out;
  }
  
  body.dark {
    background: #303030;
  }
  
  #checkbox {
    position: relative;
    appearance: none;
    outline: none;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #c3c3c3;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  
  #checkbox:checked {
    background: #8000c9;
  }
  
  #checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: inherit;
    width: 36px;
    height: 36px;
    background: #ffff00;
    transition: inherit;
  }
  
  #checkbox::after {
    content: '';
    position: absolute;
    top: -6px;
    right: calc(100% + 36px);
    border-radius: inherit;
    width: 36px;
    height: 36px;
    background: #c3c3c3;
    transition: inherit;
  }
  
   #checkbox:checked::before {
    left: calc(100% - 38px);
    background: #cccccc;
  }
  
   #checkbox:checked::after {
    right: 12px;
    background: #8000c9;
  }